<!DOCTYPE html>
<html>
<head>
  <title>SPOT!</title>
  <link rel="stylesheet" type="text/css" href="static/style.css" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCA9SQxGUs5zg5seCpAoHnlaBUiU5whoKo" type="text/javascript"></script>
  {% block scripts %}
  <script type="text/javascript" src="static/initmap.js"></script>
  {% endblock %}
</head>

<body>
<div id="main">
<header style="width: 1280px; padding-top: 15px; padding-bottom: 15px;">
    <div style="float: left; font-size: 32px;">  <a href="/">Spot!</a> </div>
    <div style="float: right;">
      <form action="{{ url_for('getTime') }}" method="post">
        <br> Time: <input id="timestr" type="text" value="" placeholder="nothing to display yet"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	<input type="submit">
      </form>
      <form action="{{ url_for('getUnit') }}" method="post">
	Enter the time unit: <input type="text" name="time_uni">
	<input type="submit" onclick="window.location.href='/track'">
      </form>
    </div>
</header>

  <div id="site_content">
    <div id="map-container" style="padding-top: 0px;">
       <div id="map-canvas"></div>
       <!--our form-->
    </div>
    <div id="content">
      <div class="content_item">
        <footer style="padding-top: 30px;">
          <span style="float: left; color:#FFF">
            &nbsp&nbsp&nbsp&nbsp <a href="weipeng0715@gmail.com">Peng Wei</a>
          </span>
          <span style="float: center">
            <a href="" target="_blank">Slideshare</a>       |
            <a href="" target="_blank">Video</a>
          </span>
          <span style="float: right; color:#000">
            <a href="">Github</a>     |
            <a href="">LinkedIn</a>	&nbsp&nbsp&nbsp&nbsp
          </span>
        </footer>
      </div>
    </div>
  </div>
</div>
</body>
</html>
